@import './mixins';

.pz__block.aside {
  grid-column: 11/13;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  gap: var(--fs-s);
  position: sticky;
  top: -1px;
}

@include media-portrait {
  .pz__block.aside {
    grid-column: 2 / -2;
  }
}

.pz__blog-category {
  text-transform: uppercase;
  font-weight: 400;

  /* margin-bottom: var(--fs-s); */
}

.pz__blog-date {
  //font-size: var(--fs-s);
}

.pz__tag-list {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}
