body.session-catalogue {
  --pz__body-background: var(--gradient-dark);
  --pz__text-color-primary: var(--white);
  --pz__text-color-link: var(--white);
}

.session-catalogue .pz__section-link {
  margin-bottom: var(--grid-gutter);
}
