/*
*
* Quantity Input
*
*/

.quantityInputWrapper {
  display: inline-block;
  position: relative;
}

.quantityInput {
  display: flex;
  height: calc(var(--text-base) * 2);
  border: 1px solid var(--black);
  border-radius: var(--radius-base);
}

.quantityInput .button-default,
.quantityInput input {
  display: block;
  border: none;
}

.quantityInput .button-default {
  width: var(--fs-xl);
  padding: 0;
}

.quantityInput .button-default:nth-of-type(1) {
  border-radius: var(--radius-base) 0 0 var(--radius-base);
}

.quantityInput .button-default:nth-of-type(2) {
  border-radius: 0 var(--radius-base) var(--radius-base) 0;
}

.quantityInput [name='quantity'] {
  max-width: 8rem;
  text-align: center;
}

/*
*
* Buttons
*
*/

:root {
  --button-background-color: var(--black);
  --button-background-color-alt: var(--white);
  --button-text-color: var(--white);
  --button-text-color-alt: var(--black);
}

.button-default {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: var(--padding-s);
  border: 1px solid var(--black);
  border-radius: var(--radius-base);
  will-change: background-color, color;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  position: relative;
}

.button-default:hover {
  background-color: var(--button-background-color-alt);
  color: var(--button-text-color-alt);
}

.button-default.button-inverted {
  --button-background-color: var(--white);
  --button-background-color-alt: var(--black);
  --button-text-color: var(--black);
  --button-text-color-alt: var(--white);
}

.button-default.disabled,
.button-default.button-inverted.disabled,
.button-default.disabled:hover,
.button-default.button-inverted.disabled:hover {
  --button-background-color: var(--white);
  --button-background-color-alt: var(--white);
  --button-text-color: var(--gray);
  --button-text-color-alt: var(--gray);

  border-color: var(--gray);
  cursor: not-allowed;
}

.button-checkout {
  width: 100%;
  padding: var(--padding-m);
}

/*
*
*   Checkbox Default
*
*/

label:has(.checkbox-default) {
  display: grid;
  grid-template-columns: var(--text-base) auto;
  grid-gap: var(--padding-m);
  padding: var(--padding-m);

  input,
  span {
    place-self: center left;
  }
}

.checkbox-default {
  appearance: none;
  appearance: none;
  height: calc(var(--text-base) * 1);
  width: calc(var(--text-base) * 1);
  position: relative;
  cursor: pointer;
  border: 1px solid var(--black);
  border-radius: var(--radius-base);
  background-color: var(--white);
  transition:
    background 0.3s,
    border-color 0.3s,
    box-shadow 0.2s;
  display: grid;
  place-content: center;

  &::before {
    content: '';
    height: calc(var(--text-base) * 1.25);
    width: calc(var(--text-base) * 1.25);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--black);
    transform-origin: center center;
    clip-path: polygon(
      27.17% 54.16%,
      42.02% 64.6%,
      71.61% 22.51%,
      75% 25%,
      42.02% 69.78%,
      25% 57.25%
    );
  }

  &:checked {
    background-color: var(--black);
    color: var(--white);

    &::before {
      transform: scale(1);
      background-color: var(--white);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.9;

    & + span {
      cursor: not-allowed;
    }
  }

  &:hover {
    border: 1.5px solid var(--pureblack);

    &:not(:checked)::before {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }

  &:focus {
    box-shadow: 0 0 0 var(--focus);
  }
}

/*
*
*   Fieldbox Product Variant Selector
*
*/
.checkbox-button-style {
  display: flex;
  flex: 0 0 100%;
  gap: var(--grid-gap);

  input {
    display: none;
  }
}

.checkbox-button-style legend {
  width: 100%;
  margin-bottom: var(--padding-s);
}

.checkbox-button-style label {
  --button-background-color: var(--white);
  --button-background-color-checked: var(--black);
  --button-text-color: var(--black);
  --button-text-color-checked: var(--white);

  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: var(--padding-s);
  border: 1px solid var(--black);
  border-radius: var(--radius-base);
  will-change: background-color, color;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  text-align: center;
  flex-grow: 1;
}

.checkbox-button-style input:checked + label {
  background-color: var(--button-background-color-checked);
  color: var(--button-text-color-checked);
}

.checkbox-button-style input:disabled + label {
  --button-background-color: var(--white);
  --button-background-color-checked: var(--white);
  --button-text-color: var(--gray);
  --button-text-color-checked: var(--gray);

  border-color: var(--gray);
  cursor: not-allowed;
  opacity: 0.9;
}

/*
*
*   Search
*
*/

.search {
  width: 100%;
  min-width: 10rem;
  position: relative;
}

.searchLabelWrap {
  display: grid;
  grid-template-columns: 1fr calc(var(--text-base) * 2);
  grid-template-rows: 1fr;
}

.search .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.pz__filter-icon {
  display: block;
  width: calc(var(--text-base) * 1);
  height: calc(var(--text-base) * 1);
  margin: calc(var(--text-base) * 0.5);
  border-radius: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 2;
  opacity: 1;
  will-change: opacity;
  transition: opacity 0.3s ease;
}

.search:focus-within .pz__filter-icon {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.search input {
  appearance: none;
  appearance: none;
  appearance: none;
  outline: 0;
  height: calc(var(--text-base) * 2);
  padding: calc(var(--text-base) * 0.5);
  grid-row: 1/2;
  grid-column: 1/3;
  z-index: 1;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--black);
}

.search:focus-within input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid var(--black);
}

/*  Fieldsets */

fieldset {
  border: 0;
}
